
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

button
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
button:hover{
    color: #586D7F;
    background-color: #ffffff;
  }
#guardar
{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;

}
form
{
  background-color: rgba(222, 222, 222, 1);
}
tbody
{
width:320px;
height:60px;
overflow-x: auto;

}
